


#buycarlist{
	/*border: solid 1px #000;*/
	margin: 10px 3px;
	width: 100%;
}
#buycarlist div{
	text-align: center;
	padding: 0;
	margin: 0;
}
.buycarlistall{
	border: 1px solid #49768c;
	margin: 15px 0 ! important;
	border-radius: 5px;
}
.panel-body{
	padding-bottom: 110px;
}


.showshuru{
	display: inline;
	width: 20px;
	height: 20px;
	outline: none;
	border: none;
	text-align: center;
}



.thumbnail{
	/*border: solid 1px #000;*/
}
.thumbnail img{
	width: 100%;
}
.thumbnail h3{
	font-size: 20px;
	margin-top: -5px;
}
.thumbnail>div{
	/*height: 400px;*/
}



/*支付兰*/
.pay{
/*border: solid 1px #000;*/
position: fixed;
bottom: 60px;
width: 100%;
height: 80px;
left: 50%;
margin-left: -50%;
font-size: 20px;
font-family: "隶书";
background: #4CAF50;
}
#shangpingjianshu,#shangpingzongjia{
	color: #fff ! important;
}

/*支付兰计数*/
.pay .col-xs-8{
/*border: solid 1px #000;*/

/*text-align: center;*/
margin-top: 12px;
}
/*支付兰计数结束*/
/*支付兰按钮*/
.countbtn{
	width: 25px;
	height: 25px;
	line-height: 100%;
}
/*支付兰按钮结束*/
/*支付兰结束*/



/*购物车按钮*/
.pay .col-xs-4 a{
display: inline-block;
border: 1px solid #f44336;
width: 90px;
height: 45px;
font-family: "华文行楷";
color: red;
font-size: 22px;
margin-top: 18px;
}
/*购物车按钮结束*/