


.panel{
	box-shadow: none;
	border: none;
}



/*商品列表垂直位置*/
.goodlist{
  margin-top: 0%;
  /*border: solid 1px #f00;*/
}
/*商品列表垂直位置结束*/

.ifshow{
  margin-top: 11%;
}


/*列表字体调整*/
.listitem p{
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "楷体";
}
/*列表字体调整结束*/
/*列表图片调整*/
.listitem img{
  /*border: solid 1px #e5f7ff;*/
  border-radius: 50%;
}
/*列表图片调整结束*/





