
/*大面板*/
.panel-body{
  /*border: solid 1px #000;*/
  background-color: #fff;
  text-align: center;
  /*margin-top: 35%;*/
  padding: 0 15px;
}
/*大面板结束*/


/*左边图片*/
.avatar{
  text-align: center;
}
/*左边图片结*/



/*用户面板*/
.userpanal{
  /*border: solid 1px #000;*/
  position: fixed;
  z-index: 1;
  background:  -webkit-linear-gradient(top,#FCF606,#CF6105);
  padding-top: 20px;
  padding-bottom: 20px;
  width: 99%;
  height: 117px;
  margin: 0;
}
.ifshow{
  margin-top: 12%;
}
/*用户面板结束*/



/*头像框信息*/
.username{
  font-size: 20px;
  font-family: "隶书";
  font-style: bolder;
  position: absolute;
  top: 5%;
  left: 35%;
}
.userid{
  font-size: 15px;
  font-family: "华文仿宋";
  position: absolute;
  top: 45%;
  left: 35%;
}
.level{
  font-size: 5px;
  margin-top: 10px;
  font-style: "华文仿宋";
  /*border:solid 1px #000;*/
  position: absolute;
  top: 60%;
  left: 35%;
}
.level div{
  color: #000000;
  display: inline-block;
  /*border:solid 1px #000;*/
}
/*头像框信息结束*/




/*账号管理*/
.manager{
  /*border:solid 1px #000;*/
  position: absolute;
  text-align: center;
  right: 20px;
  top: 10px;
  width: 100px;
}
/*装好管理结束*/


/*登陆*/
.logindoor{
  /*border:solid 1px #000;*/
  position: absolute;
  text-align: center;
  right: 35px;
  bottom: 10px;
}
/*登录结束*/


/*我的页导航栏*/
ul.nav{
  width: 100%;
  margin: 7.5px 0;
}
.nav li{
  width: 33.3%;
  float: left;
  font-size: 10px;
}
.wodeshoucang,.yonghubiji,.wodedingdan{
  color: #000 ! important;
}
.chooseicon{
  display: block;
  color: #000;
  font-size: 25px;
  font-weight: 900;
}
.note-col-order{
  position: fixed;
  top: 156px;
  width: 100%;
  left: 0;
  z-index: 1;
}
/*我的也导航栏结束*/


/*动态*/
li.dongtai{
width: 50%;
color: #bb9e9e;
}
.navbar{
  margin-bottom: -6px;
}
.guding{
  position: fixed;
  top: 224px;
  left: 0;
  z-index: 1;
  text-align: center;
  background: #fff;
}
.gudingclear{
  position: relative;
  top: -4px;
}
.sharelist{
  border: solid 1px #e0c5c5;
  margin: 10px 9px;
  border-radius: 10px;
}
.sharelist i{
  display: inline;
  font-size: 22px;
  color: #969292;
  margin: 0 12px;
}
/*动态结束*/