/*大面板*/
.panel-body{
  /*border: solid 1px #000;*/
  /*background-color: #fff;*/
  text-align: center;
}
/*大面板结束*/


/*左边图片*/
.avatar{
  text-align: center;
}
/*左边图片结*/



/*用户面板*/
.userpanal{
  /*border: solid 1px #000;*/
  position: fixed;
  z-index: 1;
  background:  -webkit-linear-gradient(top,#FEC3BF,#F4F7BF);
  padding-top: 20px;
  padding-bottom: 20px;
  width: 99%;
  height: 117px;
  margin: 0;
}
/*清除浮动*/
.userpanalclear{
  /*border: solid 1px #000;*/
  position: relative;
  background:  -webkit-linear-gradient(top,#FEC3BF,#F4F7BF);
  padding-top: 20px;
  padding-bottom: 20px;
  width: 99%;
  height: 117px;
  margin: 0;
}
/*清除浮动结束*/
/*用户面板结束*/



/*头像框信息*/
.username{
  font-size: 20px;
  font-family: "隶属";
  font-style: bolder;
  position: absolute;
  top: 5%;
  left: 35%;
}
.userid{
  font-size: 15px;
  font-family: "华文仿宋";
  position: absolute;
  top: 45%;
  left: 35%;
}
.level{
  font-size: 5px;
  margin-top: 10px;
  font-style: "华文仿宋";
  /*border:solid 1px #000;*/
  position: absolute;
  top: 60%;
  left: 35%;
}
.level div{
  color: #000;
  display: inline-block;
  /*border:solid 1px #000;*/
}
/*头像框信息结束*/




/*账号管理*/
.manager{
  /*border:solid 1px #000;*/
  position: absolute;
  text-align: center;
  right: 20px;
  top: 10px;
  width: 100px;
}
/*装好管理结束*/


/*登陆*/
.logindoor{
  /*border:solid 1px #000;*/
  position: absolute;
  text-align: center;
  right: 35px;
  bottom: 10px;
}
/*登录结束*/

/*fishow*/

/*ifshow结束*/



/*权益和积分*/
.quan-ji{
  margin-top: 5px;
  font-family: "华文行楷";
  font-style:bolder;
  font-size: 20px;
  position: fixed;
  top: 151px;
  left: 0;
  z-index: 1;
  border: solid 1px #f3b6b6;
  background-color: #fcfcfc;
}
.quan-jiclear{
  margin-top: 5px;
  font-family: "华文行楷";
  font-style:bolder;
  font-size: 20px;
  position: relative;
  top: -29px;
}
.quan-ji li{
  /*border:solid 1px #000;*/
  display: inline-block;
  margin-top: 10px;
  padding: 0;
  width: 48.5%;
}
.quan-jiclear li{
  display: inline-block;
  margin-top: 10px;
  padding: 0;
  width: 48.5%;
}
/*权益和积分结束*/

/*兑换好礼*/
.panel-body h3{
  /*border: solid 1px #000;*/
  font-family: "华文行楷";
  margin-top: 20px;
}
.viplist{
  /*border: solid 1px #000;*/
  width: 98%;
  margin: 0 auto;
}
.viplist div{
  float: left;
}
.viplist img{
  width: 156px;
  height: 80px;
  /*flex: 1 1 auto;*/
}
/*兑换好礼结束*/

