<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- 引入模板 -->
    <!-- link -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
     <link href="../font/iconfont.css" rel="stylesheet">
    <!-- link结束 -->

    <!-- 自引css -->
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/all.css">
    <!-- 自引css结束 -->

    <!-- js -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- 引入模板结束 -->

	

	<title>我的</title>
</head>
<body>





    <!-- 面板头 -->
    <div class="panel container panel-head clearBar">
            <div class="panel-heading row">
                <h3 class="panel-title text-center"><!-- <i class="iconfont pull-left">&#xe639;</i> -->我的</h3>
                <div class="clearfloat"></div>
            </div>
    </div>
    <!-- 面板头结束 -->
    <!-- 清除浮动面板头 -->
    <!-- 面板头 -->
    <div class="panel container clearBar">
            <div class="panel-heading row">
                <h3 class="panel-title text-center"><i class="iconfont">&#xe639;</i>首页</h3>
                <div class="clearfloat"></div>
            </div>
    </div>
    <!-- 面板头结束 -->
    <!-- 清除浮动面板头结束 -->

    <!-- 首页信息框 -->
    <div id="userinfo" class="row userpanal">
        <div class="col-xs-4 avatar">
            <img v-bind:src="userinfo[0].avatar" alt="" class="img-circle">
        </div>

        <h3 class="row username" id="username">{{userinfo[0].nickname}}</h3>
        <div class="row userid" id="userid">我的id：{{userinfo[0].id}}</div>
        <div class="row level">
            <div class="cheflevel" id="cheflevel">
                厨艺值:{{userinfo[0].level.cheflev}}
            </div>
            <div class="viplevel" id="viplevel">
                VIP:{{userinfo[0].level.viplev}}
            </div>
        </div>
        <!-- 设置和登陆 -->
        <div class="row manager">
                <i class="iconfont zhanghaoguanli">&#xeb8d;</i><a href="#" class="zhanghaoguanli">账号管理</a>
        </div>
        <div id="logindoor" class="row logindoor">
            <a href="#" class="denglu">登陆</a>
        </div>
        <!-- 设置和登录结束 -->
    </div>
    <!-- 首页信息框结束 -->
    <!-- 消除浮动 -->
    <!-- 首页信息框 -->
    <div class="row userpanalclear">
        <div class="col-xs-4 avatar">
            <img src="../assets/登陆.png" alt="" class="img-circle">
        </div>

        <h3 class="row username" id="username">你是个逗比</h3>
        <div class="row userid" id="userid">我的id：1564313548</div>
        <div class="row level">
            <div class="cheflevel" id="cheflevel">
                厨艺值:1246
            </div>
            <div class="viplevel" id="viplevel">
                VIP:545
            </div>
        </div>
        <!-- 设置和登陆 -->
        <div class="row manager">
                <i>@</i><a href="">账号管理</a>
        </div>
        <div id="logindoor" class="row logindoor">
            <a href="">登陆</a>
        </div>
        <!-- 设置和登录结束 -->
    </div>
    <!-- 首页信息框结束 -->
    <!-- 消除浮动结束 -->







    <!-- 中间选择框 -->
    <div class=" note-col-order">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <ul class="nav navbar-nav text-center">
                    <li>
                        <a href="#" class="wodeshoucang">
                        <i class="iconfont chooseicon">&#xec18;</i>
                        我的收藏
                        </a>
                    </li>
                    <li>
                        <a href="#" class="yonghubiji">
                        <i class="iconfont chooseicon">&#xe61e;</i>
                        用户笔记
                        </a>
                    </li>
                    <li>
                        <a href="#" class="wodedingdan">
                        <i class="iconfont chooseicon">&#xe609;</i>
                        我的订单
                        </a>
                    </li>
                </ul>
            </div>
        </nav>           
    </div>
    <!-- 中间选择框结束 -->
    <!-- 浮动清除 -->
    <!-- 中间选择框 -->
    <div class=" note-col-order-clear">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <ul class="nav navbar-nav text-center">
                    <li>
                        <a href="#">
                        <i class="iconfont chooseicon">&#xec18;</i>
                        我的收藏
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        <i class="iconfont chooseicon">&#xe61e;</i>
                        用户笔记
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        <i class="iconfont chooseicon">&#xe609;</i>
                        我的订单
                        </a>
                    </li>
                </ul>
            </div>
        </nav>           
    </div>
    <!-- 中间选择框结束 -->
    <!-- 浮动清除结束 -->


    
    <!-- 中间部分 -->
    <div class="panel panel-info container panel-allbody">
            <!-- 面板体 -->
            <div class="panel-body row">



                <!-- 动态 -->
                <div class="row">
                    <ul id="Hometabs" class="nav nav-tabs guding">
                        <li class="dongtai"><a href="#share" data-toggle="tab">好友动态</a></li>
                        <li class="dongtai"><a href="#myshare" data-toggle="tab">我的动态</a></li>
                    </ul>
                    <!-- 清楚浮动 -->
                    <ul id="Hometabs01" class="nav nav-tabs gudingclear">
                        <li class="dongtai"><a href="#share" data-toggle="tab">好友动态</a></li>
                        <li class="dongtai"><a href="#myshare" data-toggle="tab">我的动态</a></li>
                    </ul>
                    <!-- 清楚浮动 -->
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="share">
                            <div class="sharelist row" v-for="dongtai in dongtais">
                                <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
                                    <img v-bind:src="dongtai.image" alt="">
                                    <i class="iconfont chooseicon" v-on:click="style='color:#de0b0b'">&#xec8c;</i>
                                    <i class="iconfont chooseicon">&#xed2e;</i>
                                </div>                            
                                <div class="col-xs-8 col-sm-9 col-md-10 col-lg-10">
                                    {{dongtai.comment}}
                                </div>                              
                            </div>
                        </div>
                        <div class="tab-pane fade" id="myshare">
                            <div class="sharelist row" v-for="dongtai in dongtais">
                                <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
                                    <img v-bind:src="dongtai.image" alt="">
                                    <i class="iconfont chooseicon">&#xec8c;</i>
                                    <i class="iconfont chooseicon">&#xed2e;</i>
                                </div>                            
                                <div class="col-xs-8 col-sm-9 col-md-10 col-lg-10">
                                    {{dongtai.comment}}
                                </div>                              
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 动态结束 -->




            </div>
            <!-- 面板体结束 -->
    </div>
    <!-- 中间部分结束 -->

    <!-- 导航条开始 -->
    <nav id="mynavbuttom" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a v-bind:href="routers.index"><i class="iconfont">&#xeb8f;</i>首页</a></li>
                <li><a v-bind:href="routers.buycar"><i class="iconfont">&#xe60e;</i>购物车</a></li>
                <li><a v-bind:href="routers.vip"><i class="iconfont">&#xe61c;</i>VIP</a></li>
                <li><a v-bind:href="routers.home"><i class="iconfont">&#xeb8a;</i>我的</a></li>
            </ul>
        </div>
    </nav>
    <!-- 导航条结束 -->
</body>


<!-- js开始 -->
<script>

    // 我的信息部分
     var user = new Vue({
        el: '#userinfo',
        data: {
            userinfo:[]
        },
        methods: {
        },
        created:function(){
            $.ajax({
                url:"../jsonp/userinfo.js",
                type:"GET",
                dataType: 'jsonp', 
                // jsonp:"2",
                jsonpCallback:"userinfo", 
                crossDomain: true
            }).done((e)=>{
                console.log(e);
                this.userinfo = e.users;
                console.log(this.userinfo);
            });
        }  
    })
    // 我的信息部分结束



    // 导航栏统一配置
    var vm = new Vue({
        el: '#mynavbuttom',
        data: {
            routers:{
                index:"",
                buycar:"",
                vip:"",
                home:""
            }
        },
        methods: {
        },
        created:function(){
            $.ajax({
                url:"../jsonp/configuration.js",
                type:"GET",
                dataType: 'jsonp', 
                // jsonp:"1",
                jsonpCallback:"jsoncg", 
                crossDomain: true
            }).done((e)=>{
                console.log(e);
                this.routers.index = e.routers.index;
                this.routers.buycar = e.routers.buycar;
                this.routers.vip = e.routers.vip;
                this.routers.home = e.routers.home;
                routers = e.routers;
                console.log(this.routers);
            });
        }  
    })
    // 导航栏统一配置结束
    // 分享部分
     var share = new Vue({
        el: '#share',
        data: {
            dongtais:[]
        },
        methods: {
        },
        created:function(){
            $.ajax({
                url:"../jsonp/dongtai.js",
                type:"GET",
                dataType: 'jsonp', 
                // jsonp:"2",
                jsonpCallback:"dongtai", 
                crossDomain: true
            }).done((e)=>{
                console.log(e);
                this.dongtais = e.dongtais;
                console.log(this.dongtais);
            });
        }  
    })
    // 分享部分结束
    // 我的动态部分
     var myshare = new Vue({
        el: '#myshare',
        data: {
            dongtais:[]
        },
        methods: {
        },
        created:function(){
            $.ajax({
                url:"../jsonp/mydongtai.js",
                type:"GET",
                dataType: 'jsonp', 
                // jsonp:"2",
                jsonpCallback:"mydongtai", 
                crossDomain: true
            }).done((e)=>{
                console.log(e);
                this.dongtais = e.dongtais;
                console.log(this.dongtais);
            });
        }  
    })
    // 我的动态部分结束
    var routers = {}
    window.onload=function(){
        console.log(routers);
        $(".wodeshoucang").click(function(){
            window.location.href=routers.collect;
        })
        $(".yonghubiji").click(function(){
            window.location.href=routers.note;
        }) 
        $(".wodedingdan").click(function(){
            window.location.href=routers.order;
        }) 
        $(".zhanghaoguanli").click(function(){
            window.location.href=routers.countmanager;
        }) 
        $(".denglu").click(function(){
            window.location.href=routers.login;
        })    
        $(".sharelist i:first-of-type").click(function(){
            // $(".sharelist i:first-of-type").attr("color","#969292")
            // console.log($(".sharelist i:first-of-type").attr("color"))
            console.log($(".sharelist i:first-of-type").attr("style") == "color:"+"#de0b0b")
            if($(".sharelist i:first-of-type").attr("style") == "color:"+"#de0b0b"){
                $(".sharelist i:first-of-type").attr("style","color:"+"#969292");
            }else{
                $(".sharelist i:first-of-type").attr("style","color:"+"#de0b0b");
            }
            console.log($(".sharelist i:first-of-type").attr("style"))
        })
    }
</script>
<!-- js结束 -->

</html>